body {
  background-color:#dc3545;
}

tr:hover {
  cursor: pointer;
}

.btn-primary {
  background-color:#dc3545;
  border-color: #dc3545;
}

.btn-primary:hover {
  background-color: #950412;
  border-color: #950412;
}

.form-wrapper {
  margin: 1em 0;
  padding:.8em 0;
  border-radius: 10px;
  background: #f3f3f3; 
}

.form-wrapper input:focus,
.form-wrapper select:focus { 
  border-color: #dc3545;
  box-shadow: 0 0 5px #dc3545;
}

.form-wrapper input[type="checkbox"] {
  margin: 0 .5em 0 .1em;
}

.form-wrapper input[type="checkbox"]:focus {
  box-shadow: none;
  border: none;
}

